################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/bodybykhoshalApi/FileContentIndex/d5250e01-e8ab-4a2c-8135-c079b242bd69.vsidx
/obj
/bin/Debug/net6.0
/appsettings.json
